@media screen and (max-width: 1450px) {

}


@media screen and (max-width: 1350px) {
    .about-content-info {
        max-width: 600px;
    }
}

@media screen and (max-width: 1300px) {

    .grid-1 {
        background-size: 360px;
    }

    .grid-11 {
        background-size: 360px;
        background-position-x: -40px;
    }

}

@media screen and (max-width: 1260px) {
    .main-advantages-item {
        padding: 50px 25px;
        width: unset;
    }

    .service-advantages-item {
        padding: 30px 17px 30px 20px;
        height: 200px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content-info {
        max-width: unset;
    }
}


@media screen and (max-width: 1220px) {

    .main-advantages-item-title {
        font-size: 35px;
    }

    .warehouse-block {
        max-width: 400px;
    }

}


@media screen and (max-width: 1200px) {
    .catalog-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .catalog-items-item {
        height: 280px;
        width: 450px;
        background-size: contain;
    }

    .grid-11 {
        background-position-x: right;
    }
}


@media screen and (max-width: 1100px) {

    .service {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .service-advantages {
        flex-direction: column;
    }

    .service-advantages-item {
        width: 100%;
        height: unset;
        border-radius: 30px;
    }

}


@media screen and (max-width: 1050px) {

    .main {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .main-advantages {
        flex-direction: column;
    }

    .main-advantages-item {
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
    }

    .consultation {
        flex-direction: column;
        gap: 30px;
    }

    .consultation-info {
        max-width: unset;
    }

    .consultation-form {
        width: 100%;
        padding: 50px 20px;
    }

    .about-actions-item {
        font-size: 25px;
    }

}


@media screen and (max-width: 1000px) {

    .main-title,
    .leasing-block-title,
    .catalog-title,
    .catalog-title,
    .service-title,
    .consultation-info-title,
    .about-title,
    .news-title,
    .collaboration-title,
    .warehouse-block-title {
        font-size: 40px;
    }

    .main-subtitle {
        font-size: 20px;
    }

    .leasing-block,
    .warehouse {
        padding: 30px;
    }

}

@media screen and (max-width: 980px) {

    .catalog-items-item {
        padding-left: 15px;
        width: 400px;
    }

}

@media screen and (max-width: 880px) {
    .catalog-items-item {
        width: 600px;
    }

    .about-content-info-actions-youtube {
        padding: 30px 20px;
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-content-info-actions-youtube a {
        font-size: 18px;
    }

    .about-actions-item {
        font-size: 22px;
        padding: 20px;
        width: unset;
        height: unset;
    }

    .about-actions-item.active::before {
        bottom: -12px;
        width: 20px;
        height: 20px;
    }

    .about-content-images-item-title {
        font-size: 30px;
    }

    .warehouse {
        gap: 0;
    }

}



@media screen and (max-width: 800px) {

    .collaboration-items-item {
        width: 282px;
        height: 215px;
    }

    #service-content .about-content-images {
        flex-direction: column;
        width: 600px;
    }
}


@media screen and (max-width: 750px) {

    .main,
    .leasing,
    .catalog,
    .service,
    .consultation,
    .about,
    .collaboration,
    .warehouse {
        margin-bottom: 50px;
    }

    .news {
        margin-bottom: 70px;
    }

    .about {
        padding: 50px 0;
    }

    .about-subtitle {
        margin-bottom: 50px;
    }

    .about-content-info-actions {
        flex-direction: column;
    }

    .about-actions-item {
        padding: 20px 10px;
    }

    .warehouse {
        flex-direction: column;
        gap: 20px;
    }

    .warehouse-block {
        max-width: unset;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {
    .leasing-block,
    .warehouse {
        padding: 20px;
    }

    .about-actions {
        flex-direction: column;
    }

    .about-actions-item {
        width: 100%;
        height: 76px;
    }

    .about-actions-item.active::before {
        display: none;
    }


    .about-content-info-text {
        font-size: 18px;
    }

    .about-content-images {
        width: 400px;
        height: 250px;
    }

}


@media screen and (max-width: 650px) {

    .catalog-items-item {
        width: 100%;
    }

}

@media screen and (max-width: 620px) {
    .collaboration-items-item {
        height: unset;
    }
}


@media screen and (max-width: 600px) {
    .main-title,
    .leasing-block-title,
    .catalog-title,
    .catalog-title,
    .service-title,
    .consultation-info-title,
    .about-title,
    .news-title,
    .collaboration-title,
    .warehouse-block-title {
        font-size: 30px;
    }

    .main-subtitle {
        width: unset;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .main-button {
        width: 280px;
        margin-bottom: 30px;
    }

    .button-orange {
        max-width: 280px;
        padding: 15px 40px;
        height: unset;
    }

    .about-content-info-actions-youtube {
        max-width: 280px;
        padding: 20px 40px;
    }

    .about-content-info-actions-youtube a {
        font-size: 18px;
    }

    .button-orange a {
        font-size: 16px;
    }

    .main-advantages {
        gap: 20px;
    }

    .main-advantages-item-text {
        font-size: 18px;
    }

    .leasing-block-title {
        margin-bottom: 20px;
    }

    .catalog-title {
        margin-bottom: 30px;
    }

    .catalog-items {
        margin-bottom: 30px;
    }

    .catalog-items-item {
        padding-top: 30px;
    }

    .warehouse-block-title {
        margin-bottom: 30px;
    }

    .warehouse-block-description {
        font-size: 20px;
    }

    .service-subtitle {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .consultation-info-subtitle {
        font-size: 18px;
    }

    .consultation-form {
        border-radius: 20px;
    }

    .consultation-form form label {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .consultation-form form input {
        padding: 25px;
        font-size: 18px;
    }

    .consultation-form form .consultation-form-agree label {
        font-size: 18px;
    }

    .consultation-form-button {
        width: unset;
    }

    .about-content-info-title {
        font-size: 22px;
    }

    .about-content-info {
        padding: 30px 10px;
    }

    .about-subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .news-title {
        margin-bottom: 20px;
    }

    .news-subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .news-items-item-title {
        margin-bottom: 20px;
    }

    .collaboration-title {
        margin-bottom: 30px;
    }

    #service-content .about-content-images {
        width: 400px;
    }

    .about-content-images-item-title {
        font-size: 25px;
    }

    .news .slick-list {
        max-width: 450px;
    }

    .warehouse-image {
        width: 400px;
    }

    .collaboration-items .slick-list {
        max-width: 400px;
    }

}


@media screen and (max-width: 460px) {

    .leasing-block-title {
        font-size: 25px;
    }

    .button-orange {
        padding: 15px 30px;
    }

    .service-title {
        font-size: 25px;
    }

    .service-subtitle {
        font-size: 18px;
    }

    #service-content .about-content-images {
        width: 300px;
    }

    .about-content-images {
        width: 300px;
        height: 190px;
    }

    .warehouse {
        padding: 20px 10px;
    }

    .warehouse-block-description {
        font-size: 18px;
    }

    .warehouse-image {
        width: 280px;
    }

}

@media screen and (max-width: 400px) {
    .catalog-items-item {
        height: 280px;
        /*background-size: 250px;*/
    }

    .catalog-items-item-title {
        font-size: 20px;
    }

    .grid-3,
    .grid-6 {
        height: 200px;
    }

    .grid-13,
    .grid-15,
    .grid-18 {
        height: 240px;
    }

    .grid-16 {
        height: 250px;
    }

    .grid-17,
    .grid-18 {
        background-size: 190px;
    }

    .grid-8 {
        background-size: 200px;
    }

    .grid-14,
    .grid-16 {
        background-size: 200px;
    }

    .grid-4 {
        background-size: 220px;
    }

    .grid-5,
    .grid-7,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
        background-size: 240px;
    }

    .grid-1,
    .grid-2,
    .grid-13 {
        background-size: 250px;
    }



}